# Rust
/target
/tools/target

/fuzz/target
/fuzz/corpus
/fuzz/artifacts

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# tarpaulin test coverage reports
cobertura.xml

# Makefile-generated symlinks.
/pabi
/pabi-*
